
@{
    ViewBag.Title = "FormRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN VỀ ĐƠN VỊ TUYỂN</h2>
@{
    Html.BeginForm("Register", "HTMLHelper", FormMethod.Get);
    <table class="table table-bordered">

        <tr>
            <td>@Html.Label("Tên đơn vị tuyển(*)")</td>
            <td>@Html.TextBox("txtFName")</td>
        </tr>
        <tr>
            <td>
                @Html.Label("Loại hình doanh nghiệp(*)")
            </td>
            <td>
                @Html.DropDownList("Country", new
                SelectList(ViewBag.listCountry, "ID", "Name"))
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Số lượng nhân viên")</td>
            <td>@Html.TextBox("txtFName")</td>
        </tr>

        <tr>
            <td>@Html.Label("Địa chỉ(*)")</td>
            <td>@Html.TextArea("txtAddress")</td>
        </tr>
        <tr>
            <td>@Html.Label("Người liên hệ(*)")</td>
            <td>@Html.TextBox("txtFName")</td>
        </tr>

        <tr>
            <td>@Html.Label("Số điện thoại(*)")</td>
            <td>@Html.TextBox("txtUName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Số Fax")</td>
            <td>@Html.TextBox("txtUName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Email")</td>
            <td>@Html.TextBox("txtEmail")</td>
        </tr>
        <tr>
            <td>@Html.Label("Địa chỉ Webside")</td>
            <td>@Html.TextBox("txtAddress")</td>
        </tr>
        <tr>
            <td>@Html.Label("Tên đăng nhập(*)")</td>
            <td>@Html.TextBox("txtUName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Mật khẩu(*)")</td>
            <td>@Html.Password("txtPass")</td>
        </tr>
        <tr>
            <td>@Html.Label("Xác nhận mật khẩu(*)")</td>
            <td>@Html.Password("txCfPass")</td>
        </tr>

        <tr>
            <td>@Html.Label("NHẬN E-MAIL")</td>
            <td>
                @Html.CheckBox("Reading") Nhận
                @Html.CheckBox("Shopping") Không nhận
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Cập Nhật" /><input type="submit" value="Hủy Bỏ" /></td>
        </tr>
    </table>
    Html.EndForm();
}

