@{
    ViewBag.Title = "SubmitForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đăng ký</h2>
<table class="table table-bordered">
    <tr>
        <td>Tên đơn vị tuyển :</td>
        <td>@TempData["txtFName"]</td>
    </tr>
    <tr>
        <td>Loại hình doanh nghiệp :</td>
        <td>@TempData["Country"]</td>
    </tr>
    <tr>
        <td>Số lượng nhân viên :</td>
        <td>@TempData["txtFName"]</td>
    </tr>
    <tr>
        <td>Gender :</td>
        <td>@TempData["Gender"]</td>
    </tr>
    <tr>
        <td>Address :</td>
        <td>@TempData["Address"]</td>
    </tr>
    <tr>
        <td>Email :</td>
        <td>@TempData["Email"]</td>
    </tr>
    <tr>
        <td>Country :</td>
        <td>@TempData["Country"]</td>
    </tr>
    <tr>
        <td>Favourist :</td>
        <td>@TempData["Favourist"]</td>
    </tr>
</table>