<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("ViewResult", "TestViewResult",
                "Home")
                </li>
                <li>
                    @Html.ActionLink("PartialViewResult",
            "TestPartialViewResult", "Home")
            </li>
            <li>
                @Html.ActionLink("EmptyResult", "TestEmptyResult",
        "Home")
            </li>
            <li>
                @Html.ActionLink("RedirectResult ",
        "TestRedirectResult", "Home")
            </li>
            <li>
                @Html.ActionLink("JsonResult", "TestJsonResult",
        "Home")
            </li>
            <li>
                @Html.ActionLink("JavaScriptResult",
        "TestJavaScriptResult", "Home")
            </li>
            <li>
                @Html.ActionLink("ContentResult",
        "TestContentResult", "Home")
            </li>
            <li>
                @Html.ActionLink("FileContentResult ",
        "TestFileContentResult", "Home")
            </li>
            <li>
                @Html.ActionLink("FileStreamResult",
        "TestFileStreamResult", "Home")
            </li>
            <li>
                @Html.ActionLink("FilePathResult",
        "TestFilePathResult", "Home")
            </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
